/*
    Site-wide
*/
:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --primary: #5884CB;
	--on-primary: #121212;
	--background: #121212;
	--on-background: #E0E0E0;
    --background-secondary: #404040;
}

html, body {
    height: 100%;
    margin: 0;

    background-color: var(--background);
    color: var(--on-background);
}

body {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 200ms ease;
}

body.ready {
  opacity: 1;
}

main {
    /* border-bottom: 1px solid var(--background-secondary); */
    /* border-top: 1px solid var(--background-secondary); */
    /* padding: 0px 20px; */
    margin: 0px 256px;
    flex: 1;
}

h1 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}

/*
    Header
*/
header h1 {
    margin: 0;
    padding: 20px;
    text-align: left;
}

nav {
    border-top: 1px solid var(--background-secondary);
    border-bottom: 1px solid var(--background-secondary);
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0px;
}

nav li {
    float: left;
    padding: 10px 20px;
}

nav a {
    color: var(--on-background);
}

nav li:hover {
    background-color: var(--background-secondary);
}

/*
    Footer
*/
footer {
    border-top: 1px solid var(--background-secondary);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/*
    Projects page
*/
#project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 3%;
    margin: auto;
    justify-content: center;
}

a.project-card {
    width: 30%;
    text-align: center;
    display: block;                     /* Ensure the <a> behaves like a block element */
    transition: transform 0.2s ease;    /* Add a smooth transition for the hover effect */
    text-decoration: none;              /* Remove underline from links */
    color: var(--text-color);           /* Ensure text color matches my design */
    border-radius: 8px;
}

a.project-card p{
    font-size: 0.75em;
}

a.project-card:hover {
    transform: scale(1.02);
}

a.project-card img {
    width: 100%;
    border-radius: 8px;
}

/*
    project detail page
*/
.project-header h1 {
    text-align: left;
}

.project-body img {
    max-width: 66%;
    height: auto;
    margin: 20px 0;
    justify-self: left;
}

/*
    Blog page
*/
#blog-container {display: flex;
    flex-wrap: wrap;
    gap: 25px 3%;
    margin: auto;
    justify-content: center;
}

a.blog-card {
    width: 30%;
    text-align: center;
    display: block;                     /* Ensure the <a> behaves like a block element */
    transition: transform 0.2s ease;    /* Add a smooth transition for the hover effect */
    text-decoration: none;              /* Remove underline from links */
    color: var(--text-color);           /* Ensure text color matches my design */
    border-radius: 8px;
    border: 1px solid var(--background-secondary);
}

a.blog-card:hover {
    transform: scale(1.02);
}

/*
    Blog post page
*/

.blog-post {
    width: 50%;
    margin: auto;
}

.blog-post h1 {
    margin: 0;
}

.blog-post h2 {
    text-align: center;
}

.post-date {
    text-align: center;
    margin: 10px;
    font-style: italic;
}

.comments {
    width: 50%;
    margin: auto;
}

.comment-time {
    font-style: italic;
    margin-left: 10px;
}

.commentForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    margin: auto;
}

.commentForm input, .commentForm textarea, button {
    padding: 10px;
    border: 1px solid var(--background-secondary);
    border-radius: 4px;
    background-color: var(--background-secondary);
    color: var(--on-background);
    font-family: inherit;
}

.commentForm button {
    width: 200px;
    margin: auto;
}

.commentForm button:hover {
    background-color: var(--on-background);
    color: var(--background);
    cursor: pointer;
}